.gallery__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding: 10px;
}

.gallery__filter-btn {
  margin-right: 10px;
  padding: 5px 10px;
  font-size: 16px;
  color: #111;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
}

.btn__active {
  color: #fff;
  background-color: rgb(63, 63, 63);
}

@media (max-width: 550px) {
  .gallery__filter {
    margin-bottom: 20px;
    padding: 5px;
  }
  .gallery__filter-btn {
    margin-right: 5px;
    padding: 5px;
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .gallery__filter-btn {
    font-size: 13px;
  }
}
