.gallery__header {
  padding: 30px 20px;
}

.gallery__header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gallery__header-title {
  font-size: 35px;
  text-transform: uppercase;
}

.gallery__header-select {
  padding: 5px;
}

.gallery__header-select > option {
}
